.css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    top: 65px;
    position:absolute;
}

/* .css-12i7wg6-MuiPaper-root-MuiDrawer-paper{
    position: absolute;
} */

.drawer{
    border: 1px solid red;
}



